@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-datepicker {
  height: 45px; /* Adjust height */
  padding: 0; /* Remove internal padding */
  border-radius: 8px; /* Rounded corners */
  font-size: 14px; /* Adjust font size */
}

